@font-face {
    font-family: DuneRise;
    src: url(Fonts/Dune_Rise.ttf);
}

h1 {
    font-family: DuneRise;
    font-size: 50px;
    color: rgb(95, 78, 137);
    text-align: center;
}

h2 {
    font-family: DuneRise;
    color: rgb(72, 130, 164);
    font-size: 20px;
    text-align: center;
}
#InputName{
    width: 150px;
    padding: 10px;
    margin: 20px auto;
    display: flex; align-items: center;
}

#chat-container {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto;
    font-family: DuneRise;
    font-size: 15px;
}

#messages {
    overflow-y: scroll;
    max-height: 200px;
}